<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Workers Platform</title>
  <link rel="icon" href="../../images/workers-platform/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/workers-platform/favicon.png" type="image/png">
  <meta name="theme-color" content="#D2374A">
  <meta name="msapplication-navbutton-color" content="#D2374A">
  <meta name="apple-mobile-web-app-status-bar-style" content="#D2374A">
</head>

<body class="workers-platform">

  ${require('../parts/workers-platform-header.html')}
  <main class="main">
    <div class="section workers-main__section">
      <div class="workers-main__bg">
          <picture>
              <source media="(max-width: 767px)" srcset="../../images/pixel.webp" data-original="../../images/workers-platform/main-mob.webp" class="lazy-web" type="image/webp">
              <source media="(max-width: 767px)" srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/main-mob.jpg" class="lazy-web" type="image/jpg">
              <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/main.webp" class="lazy-web"
                      type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/main.png" class="lazy-web"
                      type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/workers-platform/main.png" class="lazy" alt="">
          </picture>
      </div>
      <div class="container">
          <div class="workers-main__info">
            <span class="workers-main__title">Workers Platform - First online recruiting platform</span>
              <div class="workers-main__descr">
                  <p>Workers platform — B2B platform, that simplify the recruiting process of unqualified workers from different countries.</p>
                  <p>We are the first who have systematized and made it possible to track the entire process of recruiting and support of employees from different countries online.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="section workers-advantages__section">
      <div class="container">
          <div class="workers-advantages__inner">
            <span class="workers-advantages__title">Right now, our team is working on making our site convenient and understandable for you.</span>
              <ul class="workers-advantages__list">
                  <li>
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z" fill="#D2374A"/>
                          <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2"/>
                      </svg>
                      By the time we start our cooperation, your personal account will be fully operational.
                  </li>
                  <li>
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z" fill="#D2374A"/>
                          <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2"/>
                      </svg>
                      Your personal account will allow you to conduct all communication online and track the entire recruiting process in real time.
                  </li>
                  <li>
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z" fill="#D2374A"/>
                          <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2"/>
                      </svg>
                      Our innovative approach will provide you with a convenient and understandable service. It's worth the wait and see how easy recruiting can be.
                  </li>
              </ul>
              <div class="workers-advantages__footnote">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.8303 6.80078H13.1743L12.9343 14.6408H12.0543L11.8303 6.80078ZM12.5023 18.0808C12.2676 18.0808 12.065 18.0008 11.8943 17.8408C11.7343 17.6701 11.6543 17.4728 11.6543 17.2488C11.6543 17.0141 11.7343 16.8221 11.8943 16.6728C12.0543 16.5128 12.257 16.4328 12.5023 16.4328C12.737 16.4328 12.9343 16.5128 13.0943 16.6728C13.2543 16.8221 13.3343 17.0141 13.3343 17.2488C13.3343 17.4728 13.2543 17.6701 13.0943 17.8408C12.9343 18.0008 12.737 18.0808 12.5023 18.0808Z" fill="#D2374A"/>
                      <rect x="1" y="1" width="23" height="23" rx="11.5" stroke="#D2374A" stroke-width="2"/>
                  </svg>
                  <span>As soon as the site is completed completely, we will notify you.</span>
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.8303 6.80078H13.1743L12.9343 14.6408H12.0543L11.8303 6.80078ZM12.5023 18.0808C12.2676 18.0808 12.065 18.0008 11.8943 17.8408C11.7343 17.6701 11.6543 17.4728 11.6543 17.2488C11.6543 17.0141 11.7343 16.8221 11.8943 16.6728C12.0543 16.5128 12.257 16.4328 12.5023 16.4328C12.737 16.4328 12.9343 16.5128 13.0943 16.6728C13.2543 16.8221 13.3343 17.0141 13.3343 17.2488C13.3343 17.4728 13.2543 17.6701 13.0943 17.8408C12.9343 18.0008 12.737 18.0808 12.5023 18.0808Z" fill="#D2374A"/>
                      <rect x="1" y="1" width="23" height="23" rx="11.5" stroke="#D2374A" stroke-width="2"/>
                  </svg>
              </div>
          </div>
      </div>
    </div>
    <div class="section workers-contacts__section">
      <div class="workers-contacts__inner">
        <div class="container">
            <span class="workers-contacts__title">Our contacts</span>
            <div class="workers-contacts__wrapper">
                <div class="workers-contacts__block">
                    <div>
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/workers.webp" class="lazy-web"
                                    type="image/webp">
                            <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/workers.png" class="lazy-web"
                                    type="image/png">
                            <img src="../../images/pixel.png" data-original="../../images/workers-platform/workers.png" class="lazy" alt="">
                        </picture>
                    </div>
                    <span>For Employers</span>
                    <a href="mailto:service@workers-platform.com">service@workers-platform.com</a>
                </div>
                <div class="workers-contacts__block">
                    <div>
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/partners.webp" class="lazy-web"
                                    type="image/webp">
                            <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/partners.png" class="lazy-web"
                                    type="image/png">
                            <img src="../../images/pixel.png" data-original="../../images/workers-platform/partners.png" class="lazy" alt="">
                        </picture>
                    </div>
                    <span>For partners</span>
                    <a href="mailto:b2b@workers-platform.com">b2b@workers-platform.com</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="section workers-scheme__section">
      <div class="container">
        <div class="workers-scheme__inner">
            <div class="workers-scheme__title">We take on most of the work, <span>to simplify all work processes</span></div>
            <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/workers-scheme-en.webp" class="lazy-web"
                        type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/workers-scheme-en.jpg" class="lazy-web"
                        type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/workers-scheme-en.jpg" class="lazy" alt="">
            </picture>
        </div>
      </div>
    </div>
    <div class="section workers-why__section">
        <div class="workers-why__inner">
          <div class="container">
            <span class="workers-why__title">Why it is a great idea?</span>
              <div class="workers-why__wrapper">
                  <ul class="workers-why__list">
                    <li>
                        <i>1.</i>
                        Convenience and making the work easier
                    </li>
                    <li>
                        <i>2.</i>
                        System approach
                    </li>
                    <li>
                        <i>3.</i>
                        Efficiency
                    </li>
                    <li>
                        <i>4.</i>
                        Saving labor resources
                    </li>
                    <li>
                        <i>5.</i>
                        Accelerated process of closing vacancies
                    </li>
                  </ul>
                  <div class="workers-why__pic">
                      <picture>
                          <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/workers-idea.webp" class="lazy-web"
                                  type="image/webp">
                          <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/workers-idea.png" class="lazy-web"
                                  type="image/png">
                          <img src="../../images/pixel.png" data-original="../../images/workers-platform/workers-idea.png" class="lazy" alt="">
                      </picture>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="section workers-numbers__section">
        <div class="container">
            <div class="workers-numbers__wrapper">
                <div class="workers-numbers__item">
                    <div class="workers-numbers__inner">
                        <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="path1" d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z" fill="#D2374A"/>
                            <path class="path2" d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z" stroke="#0A1C27" stroke-width="2"/>
                            <path class="path3" d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z" fill="#0A1C27"/>
                        </svg>
                        <div>
                            <span>1</span>
                            <small>Platform</small>
                        </div>
                    </div>
                </div>
                <div class="workers-numbers__item">
                    <div class="workers-numbers__inner">
                        <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="path1" d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z" fill="#D2374A"/>
                            <path class="path2" d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z" stroke="#0A1C27" stroke-width="2"/>
                            <path class="path3" d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z" fill="#0A1C27"/>
                        </svg>
                        <div>
                            <span>13</span>
                            <small>Countries</small>
                        </div>
                    </div>
                </div>
                <div class="workers-numbers__item">
                    <div class="workers-numbers__inner">
                        <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="path1" d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z" fill="#D2374A"/>
                            <path class="path2" d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z" stroke="#0A1C27" stroke-width="2"/>
                            <path class="path3" d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z" fill="#0A1C27"/>
                        </svg>
                        <div>
                            <span>50</span>
                            <small>Agencies</small>
                        </div>
                    </div>
                </div>
                <div class="workers-numbers__item">
                    <div class="workers-numbers__inner">
                        <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="path1" d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z" fill="#D2374A"/>
                            <path class="path2" d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z" stroke="#0A1C27" stroke-width="2"/>
                            <path class="path3" d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z" fill="#0A1C27"/>
                        </svg>
                        <div>
                            <span>>2000</span>
                            <small>Candidates</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section workers-info__section">
        <div class="section workers-info__inner">
            <div class="container">
                <span class="workers-info__title">For Employers:</span>
                <div class="workers-info__wrapper">
                    <ul class="workers-info__list">
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>Personal accounts for the employer and candidates</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>Perfectly formed package of documents</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>The ability to track the recruitment process online</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>
                                Simplification of the communication process
                                <span>(the employer communicates ONLY with the platform manager, and the platform automatically separates all vacancies between agencies)</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="workers-info__list">
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>Organization of transportation of groups of candidates</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>
                                Supervisor for candidates
                                <span>(Accompaniment during your stay in Germany)</span>
                            </div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>Personal online manager for employers</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#0A1C27"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27"/>
                                </svg>
                            </i>
                            <div>
                                Ability to leave feedback
                                <span>so that employers can choose the best candidates, and candidates are confident in the decency of the company</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section workers-info__section red">
        <div class="section workers-info__inner">
            <div class="container">
                <span class="workers-info__title">For partner agencies:</span>
                <div class="workers-info__wrapper">
                    <ul class="workers-info__list">
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Finance interest for each candidate</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Improved terms of cooperation</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Personal accounts for candidates</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Simple communication process</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Ability to confirm documents online</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Ability to of choose an employer online</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Organization of group entry of candidates</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Supervisor (accompaniment during the entire stay in Germany)</div>
                        </li>
                    </ul>
                    <ul class="workers-info__list">
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Personal online manager for candidates</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Ability to leave feedback and check employers' reliability</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>The best candidates go to the best companies (tracking reviews and ratings)</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Enhancement of reputation</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Minimise the risk of unoccupied vacancies</div>
                        </li>
                        <li>
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                </svg>
                            </i>
                            <div>Issuance of certificates to candidates on completion of the traineeship</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section workers-ukraine__section">
      <div class="workers-ukraine__bg">
          <picture>
              <source media="(max-width: 767px)" srcset="../../images/pixel.webp" data-original="../../images/workers-platform/ukraine-mob.webp" class="lazy-web" type="image/webp">
              <source media="(max-width: 767px)" srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/ukraine-mob.jpg" class="lazy-web" type="image/jpg">
              <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/ukraine.webp" class="lazy-web"
                      type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/ukraine.png" class="lazy-web"
                      type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/workers-platform/ukraine.png" class="lazy" alt="">
          </picture>
      </div>
      <div class="container">
          <div class="workers-ukraine__info">
              <div>
                  <span class="workers-ukraine__title">On March 3, 2022, a law was passed in Germany to help Ukrainian refugees. </span>
                  <div class="workers-ukraine__descr">
                      <p>According to him, all citizens of Ukraine, all persons with permanent residence in Ukraine and members of their families have the right to a temporary residence permit in Germany (for one year with the possibility of extension for another two years).</p>
                      <p>This document provides an opportunity to work, study, receive social assistance in Germany.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="section workers-agression__section">
      <div class="section workers-agression__inner">
          <div class="container">
            <p>We want to help all Ukrainians who have found themselves in a difficult situation as a result of Russia's military aggression in Ukraine.</p>
            <p>We offer assistance with travel to Germany, assistance with paperwork, assistance with accommodation and a wide selection of vacancies with instant employment!</p>
            <p>And most importantly - all our help is absolutely free for you!</p>
            <p>Please email us at Ukraine@workers-platform.com, we will contact you as soon as possible.</p>
          </div>
      </div>
    </div>
  </main>
  ${require('../parts/workers-platform-footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
