<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <title>Jobs für ausländische Studierende und Flüchtlinge aus der Ukraine in Deutschland</title>
  <meta name="description"
    content="Работа для студентов в Германии 🇩🇪 Помогаем трудоустроить беженцев из Украины ✅ Пишите и узнавайте подробно!">
  <link rel="icon" href="../../images/workers-platform/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/workers-platform/favicon.png" type="image/png">
  <meta name="theme-color" content="#D2374A">
  <meta name="msapplication-navbutton-color" content="#D2374A">
  <meta name="apple-mobile-web-app-status-bar-style" content="#D2374A">
</head>

<body class="workers-platform">

  ${require('../parts/workers-platform-header-t.html')}
  <main class="main">
    <div class="section workers-main__section">
      <div class="workers-main__bg">
        <picture>
          <source media="(max-width: 767px)" srcset="../../images/pixel.webp"
            data-original="../../images/workers-platform/main-mob.webp" class="lazy-web" type="image/webp">
          <source media="(max-width: 767px)" srcset="../../images/pixel.jpg"
            data-original="../../images/workers-platform/main-mob.jpg" class="lazy-web" type="image/jpg">
          <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/main.webp"
            class="lazy-web" type="image/webp">
          <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/main.png"
            class="lazy-web" type="image/png">
          <img src="../../images/pixel.png" data-original="../../images/workers-platform/main.png" class="lazy" alt="">
        </picture>
      </div>
      <div class="container">
        <div class="workers-main__info">
          <h1 class="workers-main__title" style="margin-top: 0;">Workers Platform - Erste Online-Recruiting-Plattform
          </h1>
          <div class="workers-main__descr">
            <p>Workers Plattform ist eine B2B-Plattform, die den Rekrutierungsverfahren unqualifiziertes Personal aus
              verschiedenen Ländern für Bedarf vereinfacht.</p>
            <p>Wir sind die ersten, die den gesamten Prozess der Einstellung und Betreuung von Mitarbeitern aus
              verschiedenen Ländern systematisiert und online nachvollziehbar machen.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-advantages__section">
      <div class="container">
        <div class="workers-advantages__inner">
          <span class="workers-advantages__title">Unser Team arbeitet gerade daran, unsere Website für Sie bequem und
            verständlich zu gestalten.</span>
          <ul class="workers-advantages__list">
            <li>
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z"
                  fill="#D2374A" />
                <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2" />
              </svg>
              Wenn wir unsere Zusammenarbeit beginnen, wird Ihr persönliches Konto voll funktionsfähig sein.
            </li>
            <li>
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z"
                  fill="#D2374A" />
                <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2" />
              </svg>
              Über Ihr persönliches Konto können Sie die gesamte Kommunikation online führen und den gesamten
              Rekrutierungsprozess in Echtzeit verfolgen.
            </li>
            <li>
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z"
                  fill="#D2374A" />
                <rect x="1" y="1" width="23" height="23" stroke="#D2374A" stroke-width="2" />
              </svg>
              Unser innovativer Ansatz bietet Ihnen einen bequemen und verständlichen Service. Es lohnt sich zu warten
              und zu sehen, wie einfach Rekrutierung sein kann.
            </li>
          </ul>
          <div class="workers-advantages__footnote">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.8303 6.80078H13.1743L12.9343 14.6408H12.0543L11.8303 6.80078ZM12.5023 18.0808C12.2676 18.0808 12.065 18.0008 11.8943 17.8408C11.7343 17.6701 11.6543 17.4728 11.6543 17.2488C11.6543 17.0141 11.7343 16.8221 11.8943 16.6728C12.0543 16.5128 12.257 16.4328 12.5023 16.4328C12.737 16.4328 12.9343 16.5128 13.0943 16.6728C13.2543 16.8221 13.3343 17.0141 13.3343 17.2488C13.3343 17.4728 13.2543 17.6701 13.0943 17.8408C12.9343 18.0008 12.737 18.0808 12.5023 18.0808Z"
                fill="#D2374A" />
              <rect x="1" y="1" width="23" height="23" rx="11.5" stroke="#D2374A" stroke-width="2" />
            </svg>
            <span>Sobald die Seite vollständig fertiggestellt ist, werden wir Sie benachrichtigen.</span>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.8303 6.80078H13.1743L12.9343 14.6408H12.0543L11.8303 6.80078ZM12.5023 18.0808C12.2676 18.0808 12.065 18.0008 11.8943 17.8408C11.7343 17.6701 11.6543 17.4728 11.6543 17.2488C11.6543 17.0141 11.7343 16.8221 11.8943 16.6728C12.0543 16.5128 12.257 16.4328 12.5023 16.4328C12.737 16.4328 12.9343 16.5128 13.0943 16.6728C13.2543 16.8221 13.3343 17.0141 13.3343 17.2488C13.3343 17.4728 13.2543 17.6701 13.0943 17.8408C12.9343 18.0008 12.737 18.0808 12.5023 18.0808Z"
                fill="#D2374A" />
              <rect x="1" y="1" width="23" height="23" rx="11.5" stroke="#D2374A" stroke-width="2" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-contacts__section">
      <div class="workers-contacts__inner">
        <div class="container">
          <span class="workers-contacts__title">Unsere Kontakten</span>
          <div class="workers-contacts__wrapper">
            <div class="workers-contacts__block">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/workers.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/workers.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/workers.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span>Für Arbeitgeber</span>
              <a href="mailto:service@workers-platform.com">service@workers-platform.com</a>
            </div>
            <div class="workers-contacts__block">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/partners.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/partners.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/partners.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span>Für Partner</span>
              <a href="mailto:b2b@workers-platform.com">b2b@workers-platform.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-scheme__section">
      <div class="container">
        <div class="workers-scheme__inner">
          <div class="workers-scheme__title">Wir übernehmen der größte Teil der Arbeit, <span>um alle Arbeitsabläufe zu
              vereinfachen</span></div>
          <picture>
            <source srcset="../../images/pixel.webp"
              data-original="../../images/workers-platform/workers-scheme-de.webp" class="lazy-web" type="image/webp">
            <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/workers-scheme-de.jpg"
              class="lazy-web" type="image/jpg">
            <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/workers-scheme-de.jpg"
              class="lazy" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="section workers-why__section">
      <div class="workers-why__inner">
        <div class="container">
          <span class="workers-why__title">Warum ist das eine gute Idee?</span>
          <div class="workers-why__wrapper">
            <ul class="workers-why__list">
              <li>
                <i>1.</i>
                Komfort und Arbeitserleichterung
              </li>
              <li>
                <i>2.</i>
                Systemansatz
              </li>
              <li>
                <i>3.</i>
                Effizienz
              </li>
              <li>
                <i>4.</i>
                Einsparung von Arbeitsressourcen
              </li>
              <li>
                <i>5.</i>
                Wir helfen Ihnen, die Stellen schneller zu besetzen
              </li>
            </ul>
            <div class="workers-why__pic">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/workers-idea.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/workers-idea.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/workers-platform/workers-idea.png"
                  class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-numbers__section">
      <div class="container">
        <div class="workers-numbers__wrapper">
          <div class="workers-numbers__item">
            <div class="workers-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A" />
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2" />
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27" />
              </svg>
              <div>
                <span>1</span>
                <small>Plattform</small>
              </div>
            </div>
          </div>
          <div class="workers-numbers__item">
            <div class="workers-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A" />
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2" />
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27" />
              </svg>
              <div>
                <span>13</span>
                <small>Länder</small>
              </div>
            </div>
          </div>
          <div class="workers-numbers__item">
            <div class="workers-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A" />
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2" />
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27" />
              </svg>
              <div>
                <span>50</span>
                <small>Agenturen</small>
              </div>
            </div>
          </div>
          <div class="workers-numbers__item">
            <div class="workers-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A" />
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2" />
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27" />
              </svg>
              <div>
                <span>>2000</span>
                <small>Kandidaten</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-info__section">
      <div class="section workers-info__inner">
        <div class="container">
          <span class="workers-info__title">Für Arbeitgeber:</span>
          <div class="workers-info__wrapper">
            <ul class="workers-info__list">
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>Persönliche Konten für den Arbeitgeber und für Arbeitssuchende</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>Perfekt geformtes Dokumentenpaket</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>Die Möglichkeit, den Rekrutierungsprozess online zu verfolgen</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>
                  Vereinfachung des Kommunikationsprozesses
                  <span>(der Arbeitgeber kommuniziert NUR mit dem Plattformmanager, und die Plattform trennt automatisch
                    alle Stellenangebote zwischen den Agenturen)</span>
                </div>
              </li>
            </ul>
            <ul class="workers-info__list">
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>Organisation von Gruppeneinreisen von Kandidaten</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>
                  Betreuer für Kandidaten
                  <span>(Begleitung während Ihres Aufenthaltes in Deutschland)</span>
                </div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>Persönlicher Online-Manager für Arbeitgeber</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#0A1C27" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#0A1C27" />
                  </svg>
                </i>
                <div>
                  Möglichkeit, Feedback zu hinterlassen,
                  <span>damit Arbeitgeber die besten Kandidaten auswählen können und die Kandidaten Vertrauen in den
                    Anstand des Unternehmens haben</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-info__section red">
      <div class="section workers-info__inner">
        <div class="container">
          <span class="workers-info__title">Für Partneragenturen:</span>
          <div class="workers-info__wrapper">
            <ul class="workers-info__list">
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Finanzielles Interesse von jedem Kandidaten</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Bedingungen der Zusammenarbeit</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Persönliche Konten für Kandidaten</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Einfacher Kommunikationsprozess</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Möglichkeit die Unterlagen online zu bestätigen</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Möglichkeit, Arbeitgeber online auszuwählen</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Organisation von Gruppeneinreisen von Kandidaten</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Betreuer (Begleitung während Ihres Aufenthaltes in Deutschland)</div>
              </li>
            </ul>
            <ul class="workers-info__list">
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Persönlicher Online-Manager für Kandidaten</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Möglichkeit, Rückmeldung zu geben und die Zuverlässigkeit der Arbeitgeber zu prüfen</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Die besten Bewerber gehen zu den besten Unternehmen (Verfolgung von Bewertungen und Beurteilungen)
                </div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Verbesserung der Reputation</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Minimierung des Risikos unbesetzter Stellen</div>
              </li>
              <li>
                <i>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z"
                      fill="#FFFFFF" />
                    <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF" />
                  </svg>
                </i>
                <div>Ausstellung von Praktikumsbescheinigung für Bewerber</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-ukraine__section">
      <div class="workers-ukraine__bg">
        <picture>
          <source media="(max-width: 767px)" srcset="../../images/pixel.webp"
            data-original="../../images/workers-platform/ukraine-mob.webp" class="lazy-web" type="image/webp">
          <source media="(max-width: 767px)" srcset="../../images/pixel.jpg"
            data-original="../../images/workers-platform/ukraine-mob.jpg" class="lazy-web" type="image/jpg">
          <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/ukraine.webp"
            class="lazy-web" type="image/webp">
          <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/ukraine.png"
            class="lazy-web" type="image/png">
          <img src="../../images/pixel.png" data-original="../../images/workers-platform/ukraine.png" class="lazy"
            alt="">
        </picture>
      </div>
      <div class="container">
        <div class="workers-ukraine__info">
          <div>
            <span class="workers-ukraine__title">Am 3. März 2022 wurde in Deutschland ein Gesetz zur Hilfe für
              ukrainische Flüchtlinge verabschiedet.</span>
            <div class="workers-ukraine__descr">
              <p>Ihm zufolge haben alle Bürger der Ukraine, alle Personen mit ständigem Wohnsitz in der Ukraine und ihre
                Familienangehörigen das Recht auf eine befristete Aufenthaltserlaubnis in Deutschland (für ein Jahr mit
                der Möglichkeit der Verlängerung um weitere zwei Jahre).</p>
              <p>Dieses Dokument bietet die Möglichkeit, in Deutschland zu arbeiten, zu studieren und Sozialhilfe zu
                beziehen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section workers-agression__section">
      <div class="section workers-agression__inner">
        <div class="container">
          <p>Wir wollen allen Ukrainern helfen, die sich infolge der militärischen Aggression Russlands in der Ukraine
            in einer schwierigen Situation befinden. </p>
          <p>Wir bieten Hilfe bei der Anreise nach Deutschland, Hilfe bei Behördengängen, Hilfe bei der Wohnungssuche
            und eine große Auswahl an Stellenangeboten mit sofortiger Anstellung!</p>
          <p>Und das Wichtigste – all unsere Hilfe ist für Sie absolut kostenlos!</p>
          <p>Bitte senden Sie uns eine E-Mail an Ukraine@workers-platform.com, wir werden uns so schnell wie möglich mit
            Ihnen in Verbindung setzen.</p>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/workers-platform-footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
