<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <title>Jobs für ausländische Studierende und Flüchtlinge aus der Ukraine in Deutschland</title>
  <meta name="description"
    content="Работа для студентов в Германии 🇩🇪 Помогаем трудоустроить беженцев из Украины ✅ Пишите и узнавайте подробно!">
  <link rel="icon" href="../../images/workers-platform/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/workers-platform/favicon.png" type="image/png">
  <meta name="theme-color" content="#D2374A">
  <meta name="msapplication-navbutton-color" content="#D2374A">
  <meta name="apple-mobile-web-app-status-bar-style" content="#D2374A">
</head>

<body class="workers-platform">

  ${require('../parts/workers-platform-header-with-top-bar__partners.html')}
  <main class="main">
    <div class="workers-employer-main__section">
      <div class="container bg">
        <div class="workers-employer-main__info">
          <h1 class="workers-employer-main__title">First online recruiting platform</h1>
          <div class="workers-employer-main__descr">
            <p>Workers platform – B2B платформа, которая упрощает процесс найма неквалифицированных сотрудников из разных стран.</p>

          </div>
          <a class="workers-employer-main__btn" href="javascript:void(0)">Стать партнером</a>
        </div>
          <div class="workers-employer-main__bg">
              <picture>
                  <source media="(max-width: 767px)" srcset="../../images/pixel.webp"
                          data-original="../../images/workers-platform/partners-main-mob.webp" class="lazy-web" type="image/webp">
                  <source media="(max-width: 767px)" srcset="../../images/pixel.jpg"
                          data-original="../../images/workers-platform/partners-main-mob.jpg" class="lazy-web" type="image/jpg">
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/partners-main.webp"
                          class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/partners-main.png"
                          class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/partners-main.png" class="lazy" alt="">
              </picture>
          </div>
      </div>
    </div>
    <div class="workers-employer-numbers__section">
      <div class="container">
        <div class="workers-employer-numbers__wrapper">
          <div class="workers-employer-numbers__item">
            <div class="workers-employer-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A"></path>
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2"></path>
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27"></path>
              </svg>
              <div>
                <span>1</span>
                <small>Платформа</small>
              </div>
            </div>
          </div>
          <div class="workers-employer-numbers__item">
            <div class="workers-employer-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A"></path>
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2"></path>
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27"></path>
              </svg>
              <div>
                <span>13</span>
                <small>Стран</small>
              </div>
            </div>
          </div>
          <div class="workers-employer-numbers__item">
            <div class="workers-employer-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A"></path>
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2"></path>
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27"></path>
              </svg>
              <div>
                <span>50</span>
                <small>агентств</small>
              </div>
            </div>
          </div>
          <div class="workers-employer-numbers__item">
            <div class="workers-employer-numbers__inner">
              <svg width="235" height="244" viewBox="0 0 235 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path1"
                  d="M130.128 22.5249C171.811 29.0213 200.162 52.6834 212.976 82.328C225.802 112.001 223.163 147.898 202.368 179.066L206.527 181.841C228.224 149.322 231.093 111.639 217.566 80.3442C204.026 49.0212 174.164 24.3276 130.898 17.5845L130.128 22.5249Z"
                  fill="#D2374A"></path>
                <path class="path2"
                  d="M233.934 121.105C233.934 182.506 184.463 232.271 123.45 232.271C62.438 232.271 12.9673 182.506 12.9673 121.105C12.9673 89.8149 25.8143 61.5466 46.4914 41.3447C66.3879 21.9055 93.5298 9.93945 123.45 9.93945C155.619 9.93945 184.577 23.7716 204.771 45.8523C222.877 65.6511 233.934 92.0774 233.934 121.105Z"
                  stroke="#0A1C27" stroke-width="2"></path>
                <path class="path3"
                  d="M129.703 233.334L129.016 223.358L129.016 223.358L129.703 233.334ZM10.6538 129.428L0.67727 130.112L10.6538 129.428ZM129.016 223.358C73.0199 227.211 24.4805 184.867 20.6304 128.743L0.67727 130.112C5.2814 197.228 63.3421 247.925 130.389 243.311L129.016 223.358ZM20.6304 128.743C16.7802 72.618 59.0836 24.0195 115.082 20.1659L113.709 0.213049C46.663 4.82701 -3.92674 62.9983 0.67727 130.112L20.6304 128.743ZM195.824 191.825C178.895 209.723 155.497 221.535 129.016 223.358L130.389 243.311C162.079 241.13 190.113 226.968 210.354 205.568L195.824 191.825Z"
                  fill="#0A1C27"></path>
              </svg>
              <div>
                <span>&gt;2000</span>
                <small>Кандидаты</small>
              </div>
            </div>
          </div>
        </div>
        <div class="workers-employer-numbers__text">
          <p>Мы объединили 50 агентств из 13 стран в одном месте. Это позволило создать общие правила<br> работы для
            всех
            агентств и
            работодателей.</p>
        </div>
      </div>
    </div>
    <div class="workers-partners-info__section">
        <div class="workers-partners-info__main">
            <svg class="workers-partners-info__bg" width="1643" height="356" viewBox="0 0 1643 356" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M394 190.818V275.846H480V190.818H394ZM456.314 252.423H417.686V214.224H456.314V252.423Z" fill="white" fill-opacity="0.05"/>
                <path d="M510 162.146H480V190.819H510V162.146Z" fill="white" fill-opacity="0.05"/>
                <path d="M1146 38.5586V123.586H1232V38.5586H1146ZM1208.31 100.163H1169.69V61.9643H1208.31V100.163Z" fill="white" fill-opacity="0.05"/>
                <path d="M1262 9.88672H1232V38.5591H1262V9.88672Z" fill="white" fill-opacity="0.05"/>
                <path d="M1309 270.902V355.93H1395V270.902H1309ZM1371.31 332.507H1332.69V294.308H1371.31V332.507Z" fill="white" fill-opacity="0.05"/>
                <path d="M1425 242.23H1395V270.903H1425V242.23Z" fill="white" fill-opacity="0.05"/>
                <path d="M1527 63.2773V148.305H1613V63.2773H1527ZM1589.31 124.882H1550.69V86.683H1589.31V124.882Z" fill="white" fill-opacity="0.05"/>
                <path d="M1643 34.6055H1613V63.2778H1643V34.6055Z" fill="white" fill-opacity="0.05"/>
                <path d="M169 28.6719V113.7H255V28.6719H169ZM231.314 90.2764H192.686V52.0777H231.314V90.2764Z" fill="white" fill-opacity="0.05"/>
                <path d="M285 0H255V28.6724H285V0Z" fill="white" fill-opacity="0.05"/>
                <path d="M0 247.174V332.202H86V247.174H0ZM62.3136 308.778H23.6864V270.58H62.3136V308.778Z" fill="white" fill-opacity="0.05"/>
                <path d="M116 218.502H86V247.174H116V218.502Z" fill="white" fill-opacity="0.05"/>
            </svg>
            <svg class="workers-partners-info__bg workers-partners-info__bg-mob" width="222" height="444" viewBox="0 0 222 444" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M171 388.072V421.363H205.442V388.072H171ZM195.956 412.192H180.486V397.236H195.956V412.192Z" fill="white" fill-opacity="0.05"/>
                <path d="M217.456 376.846H205.441V388.072H217.456V376.846Z" fill="white" fill-opacity="0.05"/>
                <path d="M11.959 11.6504V44.941H46.4009V11.6504H11.959ZM36.9148 35.7701H21.4451V20.8144H36.9148V35.7701Z" fill="white" fill-opacity="0.05"/>
                <path d="M58.415 0.423828H46.4004V11.6498H58.415V0.423828Z" fill="white" fill-opacity="0.05"/>
                <path d="M125 172.996V206.287H159.442V172.996H125ZM149.956 197.116H134.486V182.16H149.956V197.116Z" fill="white" fill-opacity="0.05"/>
                <path d="M171.456 161.77H159.441V172.995H171.456V161.77Z" fill="white" fill-opacity="0.05"/>
                <path d="M174.545 25.2363V58.5267H208.987V25.2363H174.545ZM199.501 49.3559H184.031V34.4002H199.501V49.3559Z" fill="white" fill-opacity="0.05"/>
                <path d="M221.001 14.0098H208.986V25.2357H221.001V14.0098Z" fill="white" fill-opacity="0.05"/>
                <path d="M12 239.475V272.765H46.4419V239.475H12ZM36.9558 263.594H21.4861V248.639H36.9558V263.594Z" fill="white" fill-opacity="0.05"/>
                <path d="M58.456 228.248H46.4414V239.474H58.456V228.248Z" fill="white" fill-opacity="0.05"/>
                <path d="M0 410.559V443.849H34.4419V410.559H0ZM24.9558 434.678H9.48608V419.723H24.9558V434.678Z" fill="white" fill-opacity="0.05"/>
                <path d="M46.456 399.332H34.4414V410.558H46.456V399.332Z" fill="white" fill-opacity="0.05"/>
            </svg>
          <div class="container">
            <div class="workers-partners-info__inner">
                <p>Workers Platform  первые, кто систематизировал  процессы коммуникации с компаниями-работодателями, чтобы упростить процесс найма и утверждения кандидатов.  Теперь вы можете сотрудничать сразу с несколькими компаниями, всего в два клика. </p>
                <p>А кроме того, онлайн сервис позволит строить бизнес-процессы таким образом, чтобы улучшать не только качество сервиса, но и улучшить условия сотрудничества для компаний-агентств.</p>
            </div>
          </div>
        </div>
    </div>
      <div class="workers-info__section workers-info__section-partners red">
          <div class="section workers-info__inner">
              <div class="container">
                  <span class="workers-info__title">На платформе для партнеров-агентств:</span>
                  <div class="workers-info__wrapper">
                      <ul class="workers-info__list">
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Финансовый интерес от каждого кандидата</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Улучшенные условия сотрудничества</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Личные кабинеты для соискателей</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Простой процесс коммуникации</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Возможность утверждения документов онлайн</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Возможность выбора работодателей онлайн</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Организация групповых приездов на работу</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Супервайзер (сопровождение во время всего пребывания в Германии)</div>
                          </li>
                      </ul>
                      <ul class="workers-info__list">
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Персональный онлайн менеджер для кандидатов</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Возможность оставлять отзыв и проверять надежность работодателей</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Лучшие кандидаты достаются лучшим компаниям (трекинг отзывов и рейтинга)</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Повышение репутации</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Минимизируем риски незакрытых вакансий</div>
                          </li>
                          <li>
                              <i>
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M21 4C21 2.897 20.103 2 19 2H5C3.897 2 3 2.897 3 4V20C3 21.103 3.897 22 5 22H19C20.103 22 21 21.103 21 20V4ZM5 4H19V11H5V4ZM5 20V13H19.001V20H5Z" fill="#FFFFFF"/>
                                      <path d="M14 7H10V6H8V9H16V6H14V7ZM14 15V16H10V15H8V18H16V15H14Z" fill="#FFFFFF"/>
                                  </svg>
                              </i>
                              <div>Выдача сертификатов кандидатам о прохождении стажировки</div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="workers-partners-about__section">
          <div class="workers-partners-about__main">
              <svg class="workers-partners-about__bg" width="1643" height="356" viewBox="0 0 1643 356" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M394 190.818V275.846H480V190.818H394ZM456.314 252.423H417.686V214.224H456.314V252.423Z" fill="white" fill-opacity="0.05"/>
                  <path d="M510 162.146H480V190.819H510V162.146Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1146 38.5586V123.586H1232V38.5586H1146ZM1208.31 100.163H1169.69V61.9643H1208.31V100.163Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1262 9.88672H1232V38.5591H1262V9.88672Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1309 270.902V355.93H1395V270.902H1309ZM1371.31 332.507H1332.69V294.308H1371.31V332.507Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1425 242.23H1395V270.903H1425V242.23Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1527 63.2773V148.305H1613V63.2773H1527ZM1589.31 124.882H1550.69V86.683H1589.31V124.882Z" fill="white" fill-opacity="0.05"/>
                  <path d="M1643 34.6055H1613V63.2778H1643V34.6055Z" fill="white" fill-opacity="0.05"/>
                  <path d="M169 28.6719V113.7H255V28.6719H169ZM231.314 90.2764H192.686V52.0777H231.314V90.2764Z" fill="white" fill-opacity="0.05"/>
                  <path d="M285 0H255V28.6724H285V0Z" fill="white" fill-opacity="0.05"/>
                  <path d="M0 247.174V332.202H86V247.174H0ZM62.3136 308.778H23.6864V270.58H62.3136V308.778Z" fill="white" fill-opacity="0.05"/>
                  <path d="M116 218.502H86V247.174H116V218.502Z" fill="white" fill-opacity="0.05"/>
              </svg>
              <svg class="workers-partners-about__bg workers-partners-about__bg-mob" width="222" height="444" viewBox="0 0 222 444" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M171 388.072V421.363H205.442V388.072H171ZM195.956 412.192H180.486V397.236H195.956V412.192Z" fill="white" fill-opacity="0.05"/>
                  <path d="M217.456 376.846H205.441V388.072H217.456V376.846Z" fill="white" fill-opacity="0.05"/>
                  <path d="M11.959 11.6504V44.941H46.4009V11.6504H11.959ZM36.9148 35.7701H21.4451V20.8144H36.9148V35.7701Z" fill="white" fill-opacity="0.05"/>
                  <path d="M58.415 0.423828H46.4004V11.6498H58.415V0.423828Z" fill="white" fill-opacity="0.05"/>
                  <path d="M125 172.996V206.287H159.442V172.996H125ZM149.956 197.116H134.486V182.16H149.956V197.116Z" fill="white" fill-opacity="0.05"/>
                  <path d="M171.456 161.77H159.441V172.995H171.456V161.77Z" fill="white" fill-opacity="0.05"/>
                  <path d="M174.545 25.2363V58.5267H208.987V25.2363H174.545ZM199.501 49.3559H184.031V34.4002H199.501V49.3559Z" fill="white" fill-opacity="0.05"/>
                  <path d="M221.001 14.0098H208.986V25.2357H221.001V14.0098Z" fill="white" fill-opacity="0.05"/>
                  <path d="M12 239.475V272.765H46.4419V239.475H12ZM36.9558 263.594H21.4861V248.639H36.9558V263.594Z" fill="white" fill-opacity="0.05"/>
                  <path d="M58.456 228.248H46.4414V239.474H58.456V228.248Z" fill="white" fill-opacity="0.05"/>
                  <path d="M0 410.559V443.849H34.4419V410.559H0ZM24.9558 434.678H9.48608V419.723H24.9558V434.678Z" fill="white" fill-opacity="0.05"/>
                  <path d="M46.456 399.332H34.4414V410.558H46.456V399.332Z" fill="white" fill-opacity="0.05"/>
              </svg>
              <div class="container">
                  <span class="workers-partners-about__title">Workers platform это:</span>
                  <a href="javascript:void(0)" class="workers-partners-about__more">
                      <span>&gt;&gt;&gt;</span>Почитать больше
                  </a>
                  <div class="workers-partners-about__inner">
                      <ul class="workers-why__list">
                          <li>
                              <i>1.</i>
                              Удобство и облегчение работы
                          </li>
                          <li>
                              <i>2.</i>
                              Системный подход
                          </li>
                          <li>
                              <i>3.</i>
                              Эффективнсоть
                          </li>
                          <li>
                              <i>4.</i>
                              Сохранение рабочих реусрсов
                          </li>
                          <li>
                              <i>5.</i>
                              Финансовая выгода
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    <div class="workers-employer-work__section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="workers-employer-work__students">
              <div class="workers-employer-work__top">студенческая рабочая сила</div>
              <div class="workers-employer-work__wrapper">

                <a href="javascript:void(0)" class="workers-employer-work__item">
                  <div class="workers-employer-work__item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp"
                        data-original="../../images/workers-platform/work-01.webp" class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/work-01.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/work-01.jpg"
                        class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="workers-employer-work__item-about">
                    <span>работа во время каникул</span>
                    <p>Работа по студенческой программе от Министерства труда Германии "Работа во время каникул для
                      иностранных студентов"</p>
                    <small><span>&gt;&gt;&gt;</span>Узнать больше</small>
                  </div>
                </a>
                <a href="javascript:void(0)" class="workers-employer-work__item">
                  <div class="workers-employer-work__item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp"
                        data-original="../../images/workers-platform/work-02.webp" class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/work-02.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/work-02.jpg"
                        class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="workers-employer-work__item-about">
                    <span>практика по специальности</span>
                    <p>Работа по студенческой программе от Министерства труда Германии "Практика по специальности для
                      иностранных студентов"</p>
                    <small><span>&gt;&gt;&gt;</span>Узнать больше</small>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="workers-employer-work__adult">
              <div class="workers-employer-work__top">Неквалифицированные взрослые</div>
              <div class="workers-employer-work__wrapper">
                <a href="javascript:void(0)" class="workers-employer-work__item">
                  <div class="workers-employer-work__item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp"
                        data-original="../../images/workers-platform/work-03.webp" class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/work-03.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/work-03.jpg"
                        class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="workers-employer-work__item-about">
                    <span>Выехавшие из Украины в следствии войны</span>
                    <p>3 марта 2022 года в Германии был принят закон для помощи украинским беженцам. Согласно ему все
                      граждане Украины, все
                      лица с постоянным местожительством в Украине и члены их семей имеют право на временный вид на
                      проживание в Германии</p>
                    <small><span>&gt;&gt;&gt;</span>Узнать больше</small>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="workers-employer-scope__section">
      <div class="container">
        <span class="workers-employer-scope__title">сферы работы</span>
        <small class="workers-employer-scope__subtitle">Если Вашей сферы нет в этом списке, мы готовы рассмотреть все
          варианты</small>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/scope-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-01.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-01.jpg"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="workers-employer-scope__item-about">
                Логистика
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/scope-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-02.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-02.jpg"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="workers-employer-scope__item-about">
                Сельское хозяйство
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/workers-platform/scope-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-03.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/scope-03.jpg"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="workers-employer-scope__item-about">
                Производство
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Гостинично-ресторанная
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Строительство
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Клининг
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Ивенты
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Розничная торговля
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)" class="workers-employer-scope__item">
              <div class="workers-employer-scope__item-about">
                Почта
                <span>&gt;&gt;&gt;</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="workers-employer-about__section">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="workers-employer-about__text">
              <span>о проекте</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh lorem sit pretium. Ultrices
                imperdiet risus nisl
                cursus nunc senectus pharetra enim posuere. Mauris purus, eu, nec dui a arcu nisi ultrices quis. Id
                velit ante facilisi
                vitae scelerisque fermentum sit ligula. Faucibus mauris gravida purus, porta pretium. Dolor nullam
                gravida nunc at
                pretium diam leo. Ullamcorper risus felis nulla scelerisque luctus tellus ultrices. Blandit commodo
                nisl, amet nulla.
                Non, nulla non eget consectetur sodales sollicitudin lorem viverra eu. Neque imperdiet odio pretium
                facilisi consequat
                eget neque purus. Urna nisl, nulla id turpis aliquam nunc elit accumsan. Venenatis, quam pellentesque
                ...</p>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="workers-employer-about__video popup-btn" data-mfp-src="" data-type="iframe">
              <div class="video-pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/about-video-bg.webp" class="lazy-web"
                    type="image/webp">
                  <source srcset="../../images/pixel.jpg"
                    data-original="../../images/workers-platform/about-video-bg.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/workers-platform/about-video-bg.jpg"
                    class="lazy" alt="">
                </picture>
              </div>
              <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="11" y="11" width="36" height="36" rx="5" fill="white" />
                <path
                  d="M50.2 7H8.8C7.80437 7 7 7.80437 7 8.8V50.2C7 51.1956 7.80437 52 8.8 52H50.2C51.1956 52 52 51.1956 52 50.2V8.8C52 7.80437 51.1956 7 50.2 7ZM36.7956 29.995L25.5794 38.815C25.1631 39.1412 24.55 38.8487 24.55 38.32V20.6856C24.55 20.1569 25.1631 19.8587 25.5794 20.1906L36.7956 29.005C36.8705 29.064 36.931 29.1391 36.9727 29.2249C37.0143 29.3106 37.0359 29.4047 37.0359 29.5C37.0359 29.5953 37.0143 29.6894 36.9727 29.7751C36.931 29.8609 36.8705 29.936 36.7956 29.995Z"
                  fill="#D2374A" />
              </svg>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="workers-employer-text__section">
      <div class="container">
          <div class="txt-main__wrapper">
            <h1>Workers platform – первая онлайн рекрутинговая система для сотрудничества агентств из разных стран и немецких работодателей. Давайте работать вместе!</h1>
            <div class="txt-main">
                <div class="txt-hidden">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh lorem sit pretium. Ultrices imperdiet
                    risus nisl
                    cursus nunc senectus pharetra enim posuere. Mauris purus, eu, nec dui a arcu nisi ultrices quis. Id velit
                    ante facilisi
                    vitae scelerisque fermentum sit ligula. Faucibus mauris gravida purus, porta pretium. Dolor nullam gravida
                    nunc at
                    pretium diam leo. Ullamcorper risus felis nulla scelerisque luctus tellus ultrices. Blandit commodo nisl,
                    amet nulla.
                    Non, nulla non eget consectetur sodales sollicitudin lorem viverra eu. Neque imperdiet odio pretium facilisi
                    consequat
                    eget neque purus. Urna nisl, nulla id turpis aliquam nunc elit accumsan. Venenatis, quam pellentesque ...
                  </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh lorem sit pretium. Ultrices imperdiet
                    risus nisl
                    cursus nunc senectus pharetra enim posuere. Mauris purus, eu, nec dui a arcu nisi ultrices quis. Id velit
                    ante facilisi
                    vitae scelerisque fermentum sit ligula. Faucibus mauris gravida purus, porta pretium. Dolor nullam gravida
                    nunc at
                    pretium diam leo. Ullamcorper risus felis nulla scelerisque luctus tellus ultrices. Blandit commodo nisl,
                    amet nulla.
                    Non, nulla non eget consectetur sodales sollicitudin lorem viverra eu. Neque imperdiet odio pretium facilisi
                    consequat
                    eget neque purus. Urna nisl, nulla id turpis aliquam nunc elit accumsan. Venenatis, quam pellentesque ...
                  </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh lorem sit pretium. Ultrices imperdiet
                    risus nisl
                    cursus nunc senectus pharetra enim posuere. Mauris purus, eu, nec dui a arcu nisi ultrices quis. Id velit
                    ante facilisi
                    vitae scelerisque fermentum sit ligula. Faucibus mauris gravida purus, porta pretium. Dolor nullam gravida
                    nunc at
                    pretium diam leo. Ullamcorper risus felis nulla scelerisque luctus tellus ultrices. Blandit commodo nisl,
                    amet nulla.
                    Non, nulla non eget consectetur sodales sollicitudin lorem viverra eu. Neque imperdiet odio pretium facilisi
                    consequat
                    eget neque purus. Urna nisl, nulla id turpis aliquam nunc elit accumsan. Venenatis, quam pellentesque ...
                  </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh lorem sit pretium. Ultrices imperdiet
                    risus nisl
                    cursus nunc senectus pharetra enim posuere. Mauris purus, eu, nec dui a arcu nisi ultrices quis. Id velit
                    ante facilisi
                    vitae scelerisque fermentum sit ligula. Faucibus mauris gravida purus, porta pretium. Dolor nullam gravida
                    nunc at
                    pretium diam leo. Ullamcorper risus felis nulla scelerisque luctus tellus ultrices. Blandit commodo nisl,
                    amet nulla.
                    Non, nulla non eget consectetur sodales sollicitudin lorem viverra eu. Neque imperdiet odio pretium facilisi
                    consequat
                    eget neque purus. Urna nisl, nulla id turpis aliquam nunc elit accumsan. Venenatis, quam pellentesque ...
                  </p>
                </div>
            </div>
            <span class="txt-more__btn">Показать все</span>
          </div>
      </div>
    </div>


  </main>
   ${require('../parts/workers-platform-footer-menu.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
