<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <title>Jobs für ausländische Studierende und Flüchtlinge aus der Ukraine in Deutschland</title>
  <meta name="description"
    content="Работа для студентов в Германии 🇩🇪 Помогаем трудоустроить беженцев из Украины ✅ Пишите и узнавайте подробно!">
  <link rel="icon" href="../../images/workers-platform/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/workers-platform/favicon.png" type="image/png">
  <meta name="theme-color" content="#D2374A">
  <meta name="msapplication-navbutton-color" content="#D2374A">
  <meta name="apple-mobile-web-app-status-bar-style" content="#D2374A">
</head>

<body class="workers-platform">

  ${require('../parts/workers-platform-header-with-top-bar__vacancy.html')}
  <main class="main">
    <div class="vacancies-main">
      <div class="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="javascript:void(0)">Главная</a></li>
            <li><span>Вакансии</span></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <h1 class="vacancies-main-title">Вакансии</h1>
        <div class="vacancies-main-search">
          <form class="ajax_form clear-styles">
            <div class="vacancies-main-search-inner">
              <div class="input-wrapper">
                <span>Какую ищeте работу</span>
                <select class="vacancies-main-search-select what-job">
                  <option selected>Любую</option>
                  <option value="">Работа 1</option>
                  <option value="">Работа 2</option>
                  <option value="">Работа 3</option>
                  <option value="">Работа 4</option>
                  <option value="">Работа 5</option>
                  <option value="">Работа 6</option>
                  <option value="">Работа 7</option>
                  <option value="">Работа 8</option>
                  <option value="">Работа 9</option>

                </select>
              </div>
              <div class="input-wrapper">
                <span>Где ищeте работу</span>
                <select class="vacancies-main-search-select where-job">
                  <option selected>Не важно</option>
                  <option value="">Место 1</option>
                  <option value="">Место 2</option>
                  <option value="">Место 3</option>
                  <option value="">Место 4</option>
                  <option value="">Место 5</option>
                  <option value="">Место 6</option>
                  <option value="">Место 7</option>
                  <option value="">Место 8</option>
                  <option value="">Место 9</option>
                </select>
              </div>
              <button type="submit">Найти</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="vacancies-scope">
      <div class="container">
        <span class="vacancies-scope-title">Выберите свою сферу работы</span>
        <ul class="vacancies-scope-list row">
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-01.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Логистика</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-02.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-02.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Сельское хозяйство</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-03.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-03.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Производство</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-04.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-04.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Ивенты</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-05.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-05.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-05.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Гостинично-ресторанная</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-06.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-06.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-06.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Почта</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-07.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-07.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-07.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Клининг</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-08.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-08.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-08.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Строительство</span>
            </a>
          </li>
          <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="javascript:void(0)" class="vacancies-scope-item">
              <div class="vacancies-scope-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp"
                    data-original="../../images/workers-platform/vacancies-09.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-09.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/workers-platform/vacancies-09.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <span class="vacancies-scope-item__title">Розничная торговля</span>
            </a>
          </li>
        </ul>
        <a href="javascript:void(0)" class="vacancies-scope-link">Смотреть все вакансии</a>
      </div>
    </div>
    <div class="vacancies-work">
      <div class="container">
        <div class="vacancies-work-inner">
          <div>
            <span class="vacancies-work-title">Работа в городах</span>
            <ul class="vacancies-work-list">
              <li>Berlin</li>
              <li>Dortmund</li>
              <li>Dresden</li>
              <li>Dresden</li>
              <li>Berlin</li>
            </ul>
          </div>
          <div>
            <span class="vacancies-work-title">Работа в федеральных землях</span>
            <ul class="vacancies-work-list">
              <li>Baden-Württemberg</li>
              <li>Sachsen-Anhalt</li>
              <li>Schleswig-Holstein</li>
              <li>Thüringen</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="vacancies-consalt">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="vacancies-consalt-item">
              <span>Мне нужна консультация менеджера</span>
              <a href="javascript:void(0)">Оставить заявку</a>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="vacancies-consalt-item">
              <span>Вы также хотите подать заявку и в короткие сроки получить персонал? Пишите нам!</span>
              <a href="javascript:void(0)">Подобрать персонал</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  ${require('../parts/workers-platform-footer-menu.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
