<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <title>Jobs für ausländische Studierende und Flüchtlinge aus der Ukraine in Deutschland</title>
  <meta name="description"
    content="Работа для студентов в Германии 🇩🇪 Помогаем трудоустроить беженцев из Украины ✅ Пишите и узнавайте подробно!">
  <link rel="icon" href="../../images/workers-platform/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/workers-platform/favicon.png" type="image/png">
  <meta name="theme-color" content="#D2374A">
  <meta name="msapplication-navbutton-color" content="#D2374A">
  <meta name="apple-mobile-web-app-status-bar-style" content="#D2374A">
</head>

<body class="workers-platform">

  ${require('../parts/workers-platform-header-with-top-bar__vacancy.html')}
  <main class="main">
    <div class="vacancies-main">
      <div class="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="javascript:void(0)">Главная</a></li>
            <li><span>Вакансии</span></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <h1 class="vacancies-main-title">Вакансии</h1>
        <div class="vacancies-main-search">
          <form>
            <select class="what-job SumoSelect">
              <option>123123</option>
              <option>123123</option>
              <option>123123</option>
              <option>123123</option>
            </select>
          </form>
        </div>
      </div>
    </div>


  </main>
  ${require('../parts/workers-platform-footer-menu.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
