.workers-numbers__section{
  padding: 80px 0;
  font-family: $title;
  @include bp(xs){
    padding: 5px 0 45px;
  }
  .container{
    @include bp(xs){
      padding: 0 5px;
    }
  }
}

.workers-numbers__wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 0 7px;
  @include bp(lg){
    padding: 0 196px;
  }
  @include bp(md){
    padding: 0 86px;
  }
  @include bp(sm){
    padding: 0 11px;
    justify-content: center;
  }
  @include bp(xs){
    padding: 0;
  }
}

.workers-numbers__item{
  width: 244px;
  min-width: 244px;
  margin: 0 15px 30px;
  text-decoration: none;
  @include bp(xs){
    margin: 0 10px 30px;
    width: calc(50vw - 25px);
    min-width: calc(50vw - 25px);
  }
  .path1{
    @include bp(xs){
      stroke: $red;
    }
  }
  &:hover, &:focus{
    text-decoration: none;
  }
  &:hover{
    .path1{
      transform: rotate(-360deg);
      fill: $red-accent;
      @include bp(xs){
        stroke: $red-accent
      }
    }
    .workers-numbers__inner{
      >div{
        span{
          color: $red-accent;
        }
      }
    }
  }
}

.workers-numbers__inner{
  width: 100%;
  height: 244px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bp(xs){
    height: calc(50vw - 25px);
  }
  svg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-left: -4px;
    @include bp(xs){
      width: 100%;
      height: 100%;
      margin-left: -3px;
    }
    path{
      transform-origin: center;
      transform: rotate(0deg);
      transition: linear .4s;
    }
  }
  >div{
    width: 160px;
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include bp(xs){
      width: 86px;
      height: 86px;
    }
    span{
      display: block;
      margin-bottom: 13px;
      color: $red;
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;
      @include bp(xs){
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 4px;
      }
    }
    small{
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $blue-dark;
      text-transform: uppercase;
      @include bp(xs){
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
