.workers-employer-numbers__section{
  +.workers-partners-info__section{
    margin-top: 60px;
    @include bp(xs){
      margin-top: 0;
    }
  }
}

.workers-partners-info__section{
  padding: 0 30px;
  margin-bottom: 60px;
  @include bp(xs){
    padding: 0;
    margin-bottom: 30px;
  }
}

.workers-partners-info__main{
  background-color: $blue-dark;
  border-radius: 5px;
  height: 570px;
  overflow: hidden;
  position: relative;
  @include bp(xs){
    border-radius: 0;
    height: auto;
    padding: 90px 0;
  }
  >.container{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include bp(xs){
      padding: 0 10px;
    }
  }
}

.workers-partners-info__bg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86px;
  @include bp(md){
    display: none;
  }
  @include bp(xs){
    top: 0;
  }
  &-mob{
    display: none;
    @include bp(md){
      display: block;
    }
  }
}

.workers-partners-info__inner{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  width: 960px;
  max-width: 100%;
  p{
    margin-bottom: 20px;
    @include bp(xs){
      margin-bottom: 15px;
    }
  }
}

.workers-info__section-partners{
  margin-bottom: 60px;
  @include bp(xs){
    margin-bottom: 30px;
  }
}

.workers-partners-about__section{
  margin-bottom: 60px;
  padding: 0 30px;
  @include bp(xs){
    padding: 0;
    margin-bottom: 0;
  }
}

.workers-partners-about__main{
  background-color: $blue-dark;
  border-radius: 5px;
  height: 430px;
  overflow: hidden;
  padding-top: 45px;
  position: relative;
  @include bp(xs){
    border-radius: 0;
    height: auto;
    padding: 90px 0;
  }
  >.container{
    position: relative;
    z-index: 1;
    height: 100%;
  }
}

.workers-partners-about__bg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4px;
  @include bp(md){
    display: none;
  }
  @include bp(xs){
    top: 0;
  }
  &-mob{
    display: none;
    @include bp(md){
      display: block;
    }
  }
}

.workers-partners-about__title{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $red;
  margin-bottom: 8px;
  @include bp(xs){
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
  }
}

.workers-partners-about__more{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  span{
    font-size: 16px;
    line-height: 20px;
    margin-right: 12px;
    @include bp(xs){
      margin-right: 9px;
    }
  }
  &:hover{
    color: $red;
    text-decoration: none;
  }
}

.workers-partners-about__inner{
  display: flex;
  justify-content: center;
  .workers-why__list{
    width: auto;
    color: #fff;
    text-align: left;
    margin-top: 40px;
  }
}
