.vacancies-main {
  padding-top: 9px;
  padding-bottom: 92px;
  background-color: $red-dark2;
  @media (max-width: 767px) {
    padding-top: 2px;
    padding-bottom: 50px;
  }
}

.vacancies-main-title {
  margin: 0;
margin-top: 30px;
  margin-bottom: 35px;
  font-family: $title;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  @media (max-width: 767px) {
    margin-top: 28px;
    margin-bottom: 9px;
    font-size: 21px;
    line-height: 26px;
  }
}

.vacancies-main-search-inner {
  display: flex;
  align-items: flex-end;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  & .input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    margin-right: 14px;

    @media (max-width: 991px) {
      max-width: 100%;
      margin-bottom: 17px;
      margin-right: 0;
    }

    & + .input-wrapper {
      margin-right: 16px;

      @media (max-width: 991px) {
        margin-bottom: 27px;
        margin-right: 0;
      }
    }

    & > span {
      display: block;
      margin-bottom: 6px;
      font-family: $title;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #ffffff;
      @media (max-width: 991px) {
        margin-bottom: 5px;
      }
      @media (max-width: 767px) {
            margin-bottom: 8px;
        font-size: 12px;
      }
    }


    & .SumoSelect {
      width: 100%;
      height: 50px;
@media (max-width: 767px) {
  height: 40px;
}
      &.open {
        >.CaptionCont {
          &>label {
            >i {
              transform: rotate(180deg);
              background-position: center 0;
            }
          }
        }
      }

      &>.CaptionCont {
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: 5px;
        padding-left: 20px;
        @media (max-width: 767px) {
          padding-left: 14px;
        }

        &>span {
          font-family: $title;
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          color: #8B8A8E;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        >label {
          margin-bottom: 0;

          >i {
            background: none;
            cursor: pointer;
            -webkit-mask: url("../images/icons/arrow-down.svg");
            mask: url("../images/icons/arrow-down.svg");
            width: 10px;
            height: 10px;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            background-color: #7A0D1B;
            margin-right: 23px;
            @media (max-width: 767px) {

              margin-right: 18px;
            }
          }
        }
      }

      & .optWrapper {
        top: 56px;
        padding: 10px 0;
        border-radius: 5px;

        & .options {
          &::-webkit-scrollbar {
            overflow-y: scroll;
            background: transparent;
            width: 3px;
            transition: linear .2s;
            box-shadow: 1px 0 0 #c4c4c4;
          }

          &::-webkit-scrollbar-thumb {
            background: $red;
            border-radius: 0;
            width: 3px;
            transition: linear .2s;
            cursor: grab;
          }

          box-shadow: none;
        }

        & li.opt {
          border: none !important;

          &:hover {
            background-color: #f4f4f4;
          }

          &>label {
            padding-left: 13px;
            font-family: $title;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            color: #8B8A8E;
          }
        }
      }

    }

  }

  & button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 227px;
    height: 50px;
    background: linear-gradient(0deg, #D2374A, #D2374A),
      #D2374A;
    border-radius: 5px;
    border: none;
    font-family: $title;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
      border: 1px solid transparent;
    transition: background 0.3s, border 0.3s;
    @media (max-width: 767px) {
        height: 40px;
    }

    &:hover {
      background: transparent;
      border: 1px solid #FFFFFF; 
      transition: color 0.3s,
        background 0.3s;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.vacancies-scope {
  padding-top: 51px;
  padding-bottom: 60px;

  @media (max-width: 767px) {
  padding-top: 26px;
    padding-bottom: 40px;
  }
}

.vacancies-scope-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 34px;
  font-family: $title;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $red-dark2;
  @media (max-width: 767px) {
    max-width: 208px;
  margin-bottom: 21px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: #7A0D1B;
  }
}

.vacancies-scope-list.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }

  & li {
    margin-bottom: 5px;

    @media (max-width: 1199px) {
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      &:nth-child(odd) {
        & a {
          margin-right: -10px;
        }
      }

      &:nth-child(even) {
        & a {
          margin-left: -10px;
        }
      }
    }

  }
}

.vacancies-scope-item {
  display: block;
  text-decoration: none !important;
  color: inherit;

  &:hover {
    & .vacancies-scope-item__title {
      color: $red;
    }

    & .vacancies-scope-item__pic {
      & img {
        transform: scale(1.1);
      }
    }
  }

  &__pic {
    margin-bottom: 8px;
    border-radius: 5px;
    overflow: hidden;

    & picture {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
      }
    }
  }

  &__title {
    display: block;
    font-family: $title;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $blue-dark;
    transition: color 0.3s;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.vacancies-scope-link {
  display: flex;
  justify-content: center;
  max-width: 227px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF !important;
  background-color: $red-dark2;
  text-decoration: none !important;

  @media (max-width: 767px) {
    height: 40px;
  }

  &:hover {
    background-color: #fff;
    color: $red-dark2 !important;
    border: 1px solid $red-dark2;
  }
}

.vacancies-work {
  position: relative;
  background: linear-gradient(360deg, #60010D -18.03%, #D2374A 106.69%),
    linear-gradient(0deg, #F4F4F4, #F4F4F4),
    linear-gradient(360deg, #60010D -18.03%, #D2374A 106.69%);

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 100%;
    background: #FFFFFF;
    opacity: 0.5;

    @media (max-width: 991px) {
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translateX(0);
      transform: translateY(-50%);
    }
  }
}

.vacancies-work-inner {
  display: flex;

  @media (max-width: 991px) {
    display: block;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 47px;
    padding-bottom: 79px;

    @media (max-width: 991px) {
      width: 100%;
      padding-top: 56px;
    padding-bottom: 32px;
    }

    &:nth-child(1) {
      & li {
        @media (max-width: 574px) {
          padding: 14px 22px;
        }
        &:nth-child(3) {
          &::before {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      @media (max-width: 574px) {
        padding-bottom: 59px;
      }
      & li {
        @media (max-width: 574px) {
        padding: 20px 17px;
      }
        &:nth-child(2) {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.vacancies-work-title {
  display: block;
  margin-bottom: 24px;
  font-family: $title;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  @media (max-width: 574px) {
        margin-bottom: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}

.vacancies-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  @media (max-width: 574px) {
    max-width: 376px;
  }

  & li {
    position: relative;
  padding: 15px 35px;
    font-family: $title;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    @media (max-width: 574px) {
      font-size: 12px;
      line-height: 15px;
    }

    &::before {
      position: absolute;
      right: -1px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: block;
      width: 3px;
      height: 3px;
			border-radius: 50%;
      background: #FFF;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

.vacancies-consalt {
  padding: 60px 0;
  @media (max-width: 767px) {
    padding: 40px 0;
    padding-bottom: 10px;
  }
  & .row {
    display: flex;
    flex-wrap: wrap;
  }

  & .vacancies-consalt-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  padding-top: 45px;
    padding-bottom: 37px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #EFEFEF;
    border-radius: 5px;
    &:nth-child(1) {
      @media (max-width: 991px) {
       margin-bottom: 41px;
      }
    }
& span {
  margin-bottom: 20px;
  font-family: $title;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #0A1C27;
  text-align: center;
  max-width: 420px;
  @media (max-width: 574px) {
    font-size: 14px;
  }
}
& a {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 227px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 5px;
  align-items: center;
  font-family: $title;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF !important;
  background-color: $red;
  text-decoration: none !important;
  &:hover {
    color: $red !important;
    background-color: transparent;
    border: 1px solid $red-dark2;
  }
  @media (max-width: 574px) {
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}
  }
}
