.vacancies-main {
  padding-top: 17px;
  padding-bottom: 92px;
  background-color: $red-dark2;
}

.vacancies-main-title {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 35px;
  font-family: $title;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}
