.contact-section{
  background: linear-gradient(1.09deg, rgba(202, 188, 246, 0.5) 4.45%, rgba(255, 206, 172, 0.5) 98.96%);
  border-radius: 5px;
  padding: 100px 0 116px;
  @include bp(xs){
    padding: 35px 0 45px;
  }
  .section-title{
    text-align: center;
    margin-bottom: 5px;
    @include bp(xs){
      margin-bottom: 10px;
    }
  }
}

.contact-descr{
  width: 550px;
  max-width: 100%;
  text-align: center;
  color: $black;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 34px;
  @include bp(xs){
    font-size: 15px;
    line-height: 20px;
    width: 234px;
    max-width: 234px;
    margin-bottom: 15px;
  }
}

.contact-form{
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
  @include bp(xs){
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
  .btn{
    width: 230px;
    margin: 20px auto 0;
    @include bp(xs){
      width: 100%;
    }
  }
}

.contact-form__row{
  display: flex;
  justify-content: space-between;
  @include bp(xs){
    flex-direction: column;
  }
  .input-wrapper{
    width: calc(50% - 15px);
    margin-bottom: 16px;
    @include bp(xs){
      width: 100%;
    }
    >label{
      font-family: $title;
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 130%;
    }
    .input{
      width: 100%;
    }
  }
}