.how-section{
  background: linear-gradient(88.13deg, rgba(117, 215, 214, 0.25) 0%, rgba(95, 108, 250, 0.5) 92.3%);
  border-radius: 10px;
  padding: 106px 0 86px;
  @include bp(xs) {
    padding: 50px 0;
  }
  .section-title{
    text-align: center;
    margin-bottom: 10px;
    @include bp(xs) {
      margin-bottom: 12px;
    }
  }
}

.how-descr{
  width: 830px;
  max-width: 100%;
  font-size: 16px;
  line-height: 180%;
  margin: 0 auto 28px;
  text-align: center;
  @include bp(xs) {
    font-size: 15px;
    line-height: 150%;
    margin: 0 auto 35px;
  }
  p{
    margin-bottom: 0;
  }
}

.how-buttons{
  display: flex;
  justify-content: center;
  @include bp(xs) {
    flex-direction: column;
    align-items: center;
  }
  .btn{
    margin: 0 15px;
    width: 190px;
    @include bp(xs) {
      width: 250px;
      margin: 15px auto 0;
    }
    &.btn-b{
      width: 230px;
      @include bp(xs) {
        width: 250px;
        margin: 0 auto;
      }
    }
  }
}