.main-section{
  background: linear-gradient(180deg, rgba(202, 188, 246, 0.5) 0%, rgba(255, 206, 172, 0.5) 100%);
  border-radius: 5px;
  padding: 184px 0 106px;
  @include bp(md){
    padding: 160px 0 60px;
  }
  @include bp(xs){
    padding: 100px 0 40px;
  }
}

.main-pretitle{
  display: block;
  text-align: center;
  color: $black;
  font-size: 14px;
  line-height: 19px;
  @include bp(xs){
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
  }
}

.main-title{
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-family: $title;
  color: $black;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  @include bp(xs) {
    font-size: 32px;
    line-height: 39px;
    width: calc(100% - 20px);
    margin: 0 auto 24px;
  }
}

.main-descr{
  font-size: 18px;
  line-height: 25px;
  color: $black;
  text-align: center;
  margin: 0 auto 50px;
  width: 535px;
  max-width: 100%;
  @include bp(xs) {
    width: calc(100% - 20px);
    margin: 0 auto 24px;
    font-size: 15px;
    line-height: 20px;
  }
}

.main-pic{
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  @include bp(md){
    margin: 0 auto;
    width: calc(100% - 60px);
  }
  @include bp(xs){
    display: none;
  }
  &__mob{
    display: none;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    @include bp(xs){
      display: block;
      width: calc(100% - 20px);
      margin: 0 auto;
    }
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  img{
    width: 100%;
    object-fit: contain;
  }
}