.company-cabinet__chats-alert{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba($text, 0.2);
  height: 40px;
  font-size: 11px;
  line-height: 15px;
  color: $pink;
  margin-bottom: 15px;
  svg{
    margin-right: 15px;
  }
}

.company-cabinet__chats{
  display: flex;
}

.company-cabinet__chats-list{
  width: 100%;
  height: 328px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 16px;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0;
    width: 4px;
    transition: linear .2s;
    cursor: grab;
  }
  ul{
    li{
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      font-family: $title;
      color: $black;
      cursor: pointer;
      margin-bottom: 10px;
      position: relative;
      padding: 1px;
      text-align: center;
      &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 5px;
        background: linear-gradient(259.34deg, #FFAD70 22.31%, #FFD53D 57.92%);
      }
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 5px 15px;
        z-index: 1;
        border-radius: 4px;
        min-height: 40px;
        background-color: #f9f9f9;
      }
      &.active{
        span{
          background-color: transparent;
        }
      }
    }
  }
}

.company-cabinet__chats-main{
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  .tabs-content{
    display: none;
    &.active{
      display: block;
    }
  }
}

.company-cabinet__chats-main__head{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $title;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: $black;
  height: 56px;
  border-bottom: 1px solid rgba($text, 0.1);
  padding: 10px 15px;
}

.company-cabinet__chats-main__body{
  height: 440px;
  padding: 16px;
  font-size: 12px;
  line-height: 130%;
}