.partners-main{
  background: linear-gradient(14.13deg, rgba(117, 215, 214, 0.5) 32.87%, rgba(95, 108, 250, 0.5) 205%);
  border-radius: 5px;
  padding: 172px 0 97px;
  @include bp(md){
    padding: 150px 0 60px;
  }
  @include bp(xs){
    padding: 125px 0 78px;
  }
  .page-title{
    margin-bottom: 5px;
    @include bp(xs){
      margin-bottom: 15px;
    }
  }
}

.page-title{
  display: block;
  margin-top: 0;
  font-family: $title;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: $black;
  @include bp(xs){
    font-size: 32px;
    line-height: 39px;
  }
}

.partners-main__txt{
  width: 540px;
  max-width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: $black;
  text-align: center;
  margin: 0 auto;
  @include bp(xs){
    font-size: 15px;
    line-height: 20px;
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
  p{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.partners-description{
  background: $bg-gray;
  border-radius: 5px;
  padding: 70px 0;
  @include bp(md){
    padding: 60px 0;
  }
  @include bp(xs){
    padding: 45px 0 55px;
  }
}

.partners-description__txt{
  margin: 0 auto;
  text-align: center;
  div{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: $black;
    margin-bottom: 20px;
    @include bp(xs){
      font-size: 18px;
      line-height: 23px;
    }
  }
  p{
    width: 600px;
    max-width: 100%;
    font-size: 16px;
    line-height: 150%;
    margin: 0 auto 50px;
    @include bp(xs){
      font-size: 15px;
    }
  }
  >picture{
    display: block;
    margin: 0 auto;
    width: 180px;
    max-width: 100%;
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.partners-advantages{
  background: linear-gradient(14.13deg, rgba(117, 215, 214, 0.5) 32.87%, rgba(95, 108, 250, 0.5) 205%), linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(267.33deg, rgba(117, 215, 214, 0.5) -3.03%, rgba(95, 108, 250, 0.5) 136.21%);
  border-radius: 5px;
  padding: 70px 0 100px;
  .section-title{
    text-align: center;
    margin-bottom: 30px;
  }
}

.partners-advantages__list{
  font-size: 16px;
  line-height: 200%;
  @include bp(xs){
    font-size: 15px;
    line-height: 150%;
  }
  li{
    position: relative;
    padding-left: 24px;
    @include bp(xs){
      margin-bottom: 10px;
    }
    &:before{
      position: absolute;
      content: '';
      top: 15px;
      left: 10px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: $text;
      @include bp(xs){
        top: 10px;
      }
    }
  }
}

.partners-requirements{
  background: $black;
  border-radius: 5px;
  padding: 105px 0 85px;
  color: #fff;
  @include bp(md){
    padding: 60px 0;
  }
  @include bp(xs){
    padding: 50px 0 55px;
  }
  .section-title{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    @include bp(xs){
      margin-bottom: 25px;
    }
  }
}

.partners-requirements__txt{
  text-align: center;
  width: 904px;
  max-width: 100%;
  margin: 0 auto;
  >ol{
    font-size: 16px;
    line-height: 200%;
    @include bp(xs) {
      font-size: 15px;
      line-height: 150%;
    }
  }
  >p{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
    @include bp(xs) {
      font-size: 15px;
      line-height: 150%;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.partners-become{
  background: linear-gradient(14.13deg, rgba(117, 215, 214, 0.5) 32.87%, rgba(95, 108, 250, 0.5) 205%);
  border-radius: 5px;
  padding: 50px 0 68px;
  @include bp(xs){
    padding: 50px 0;
  }
  .section-title{
    margin-bottom: 20px;
    text-align: center;
  }
  .btn{
    width: 230px;
    margin: 0 auto;
    @include bp(xs){
      width: 250px;
    }
  }
}

.partners-contacts{
  background: $bg-gray;
  border-radius: 5px;
  padding: 100px 0 115px;
  @include bp(md){
    padding: 60px 0;
  }
  @include bp(xs){
    padding: 35px 0 50px;
  }
  .section-title{
    text-align: center;
    margin-bottom: 5px;
    @include bp(xs){
      margin-bottom: 10px;
    }
  }
}