.pagination{
  display: flex;
  li{
    margin: 0 3px;
    a, span{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 24px;
      height: 24px;
      font-size: 12px;
      line-height: 150%;
      padding: 0;
      border: 1px solid transparent;
      background-color: transparent;
      color: $text;
      text-decoration: none;
      &:hover{
        background-color: transparent;
        color: $accent;
      }
    }
    &.current{
      a, span{
        border-color: $text;
        color: $text;
        text-decoration: none;
        cursor: default;
      }
    }
    &.disabled{
      cursor: default;
      a, span{
        color: rgba($text, 0.4);
        text-decoration: none;
        cursor: default;
        border-color: transparent;
        background-color: transparent;
        &:hover{
          background-color: transparent;
        }
      }
    }
    &.prev{
      margin-right: 5px;
      margin-left: 0;
      a, span{
        border-radius: 0;
      }
    }
    &.next{
      margin-left: 5px;
      margin-right: 0;
      a, span{
        border-radius: 0;
      }
    }
  }
}
