.partner-cabinet__chats-alert{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba($text, 0.2);
  height: 40px;
  font-size: 11px;
  line-height: 15px;
  color: $pink;
  margin-bottom: 15px;
  svg{
    margin-right: 15px;
  }
}

.partner-cabinet__chats{
  display: flex;
}

.partner-cabinet__chats-list{
  width: 100%;
  height: 328px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 16px;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0;
    width: 4px;
    transition: linear .2s;
    cursor: grab;
  }
  ul{
    li{
      border-radius: 5px;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      font-family: $title;
      color: $black;
      padding: 5px 15px;
      border: 1px solid rgba(117, 215, 214, 0.5);
      cursor: pointer;
      margin-bottom: 10px;
      text-align: center;
      &.active{
        background: rgba(117, 215, 214, 0.5);
      }
    }
  }
}

.partner-cabinet__chats-main{
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  .tabs-content{
    display: none;
    &.active{
      display: block;
    }
  }
}

.partner-cabinet__chats-main__head{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  font-family: $title;
  color: $black;
  height: 56px;
  border-bottom: 1px solid rgba($text, 0.1);
  padding: 10px 15px;
}

.partner-cabinet__chats-main__body{
  height: 440px;
  padding: 16px;
  font-size: 12px;
  line-height: 130%;
}