.mfp-zoom-in {
  & .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    & .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    & .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

// popup "Связаться с нами" - удачная отправка

.swal2-container.swal2-shown {
  background-color: rgba(#fff, 0.25);
  .swal2-modal.swal2-show {
    position: relative;
    background: $pink !important;
    max-width: 444px;
    padding: 48px 58px !important;
    border-radius: 5px;
    & .swal2-title {
      font-family: $title;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      color: #ffffff;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .swal2-buttonswrapper {
      position: absolute;
      right: 23px;
      top: 17px;
      margin: 0;
      .swal2-confirm.swal2-styled {
        display: block;
        width: 12px !important;
        height: 12px;
        background-color: transparent !important;
        font-size: 0;
      }
    }
  }
}

.swal2-modal .swal2-styled {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
}

.vacancy-order__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
}

.vacancy-order__popup-head{
  border-bottom: 1px solid rgba($text, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $black;
}

.vacancy-order__popup-body{
  padding: 48px 42px 56px;
  p{
    text-align: center;
    width: 410px;
    margin: 0 auto 32px;
    font-size: 14px;
    line-height: 130%;
    color: $black;
  }
}

.vacancy-order__popup-footer{
  display: flex;
  justify-content: space-between;
}

.vacancy-order__popup-cancel{
  width: 155px;
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  &:hover{
    text-decoration: none;
    background-color: $black;
    color: #75D7D6;
  }
}

.vacancy-order__popup-submit{
  width: calc(100% - 161px);
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $black;
  }
}

.students-add__popup{
  min-height: 360px;
  .vacancy-order__popup-body{
    p{
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      font-family: $title;
      color: $text;
      width: 320px;
      margin: 0 auto 30px;
      span{
        color: $purple;
      }
    }
  }
  .input{
    display: block;
    width: 360px;
    margin: 0 auto 20px;
    border-color: rgba($text, .2);
    &::placeholder{
      color: $black;
    }
    &:focus{
      &::placeholder{
        color: transparent;
      }
    }
  }
}

.students-add__popup-btn{
  width: 220px;
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
  padding: 0;
  margin: 0 auto;
  &.mfp-close{
    color: #75D7D6;
    margin: 0 auto;
  }
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $black;
  }
}

.student-edit__popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  padding: 50px 30px 40px;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
  .btn{
    width: 228px;
    margin: 0 auto;
  }
}

.student-edit__popup-title{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
}

.notification-popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
    &.notification-popup__btn{
      position: static;
      padding: 0;
      color: #75D7D6;
      margin: 30px auto 0;
      &:hover{
        color: $black;
      }
    }
  }
}

.notification-popup__head{
  border-bottom: 1px solid rgba($text, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $black;
}

.notification-popup__body{
  padding: 48px 40px;
  min-height: 245px;
  p{
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 130%;
    color: $black;
    strong{
      font-weight: 600;
    }
  }
}

.notification-popup__btn{
  cursor: pointer;
  width: 292px;
  margin: 30px auto 0;
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $black;
  }
}

.student-group__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
    &.student-group__popup-cancel{
      color: $accent;
      &:hover{
        color: #fff;
      }
    }
  }
}

.student-group__popup-head{
  border-bottom: 1px solid rgba($text, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $black;
}

.student-group__popup-body{
  padding: 48px 48px 38px;
  p{
    margin-bottom: 0;
    font-size: 12px;
    line-height: 130%;
    color: $black;
  }
}

.student-group__popup-footer{
  display: flex;
  margin-top: 40px;
}

.student-group__popup-cancel{
  width: 215px;
  height: 50px;
  border: 1px solid $accent;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  &:hover{
    text-decoration: none;
    background-color: $accent;
    color: #fff;
  }
}

.new-password__body{
  padding: 40px 90px 90px;
}

.new-password__form{
  width: 100%;
  .notification-popup__btn{
    width: 215px;
    margin: 20px 0 0;
  }
  .prompt{
    > p{
      text-align: left;
    }
  }
  .input-wrapper{
    &.error{
      .input{
        +label{
          &.error{
            position: absolute;
            height: 33px;
            width: calc(100% - 2px);
            border-radius: 5px;
            display: flex;
            align-items: center;
            left: 1px;
            top: 1px;
            padding-left: 14px;
            background-color: #fff;
            pointer-events: none;
          }
        }
      }
    }
  }
}

.group-popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 438px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
}

.group-popup__head{
  border-bottom: 1px solid rgba($text, .1);
  height: 56px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.group-popup__checkbox{
  input{
    display: none;
    &:checked{
      +label{
        >div{
          border-color: $accent;
          svg {
            display: block;
          }
        }
      }
    }
    +label{
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      line-height: 130%;
      color: rgba($text, 0.5);
      margin-bottom: 0;
      font-weight: 400;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: 1px solid rgba($black, 0.5);
        margin-right: 8px;
        svg {
          display: none;
        }
      }
    }
  }
}

.group-popup__body{
  padding: 24px 30px;
  height: 228px;
  overflow: auto;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0;
    width: 4px;
    transition: linear 0.2s;
    cursor: grab;
  }
  ul{
    li{
      margin-bottom: 10px;
      &.group-popup__checkbox{
        input{
          +label{
            color: $text;
          }
        }
      }
    }
  }
}