// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$gray: #757575;
$black: #25222c;
$text: #474747;
$purple: #4f46e0;
$pink: #f459a4;
$accent: #5f6cfa;
$bg-gray: #f4f4f4;
$border: rgba(117, 117, 117, 0.3);
$shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);
$default: "NotoSans";
$title: "Montserrat";

// workers platform
$red: #d2374a;
$red-accent: #f83b53;
$red-dark: #65000d;
$blue-dark: #0a1c27;
