<header class="workers-header top-menu">
  <div class="workers-header__top">
    <div class="container">
      <ul>
        <!-- <li class="current"><a href="javascript:void(0)">----</a></li> -->
        <li><a href="javascript:void(0)">О платформе</a></li>
        <li> <a href="javascript:void(0)">Вакансии</a></li>
        <li> <a href="javascript:void(0)">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="workers-header__left">
        <a href="javascript:void(0)" class="workers-header__logo">
          <img src="../../images/workers-platform/logo.svg" alt="">
        </a>
        <div class="workers-header__menu">
          <ul>
            <li><a href="javascript:void(0)">Работодателям</a></li>
            <li><a href="javascript:void(0)">Партнерам</a></li>
            <li class="current"><a href="javascript:void(0)">Соискателю</a></li>
          </ul>
        </div>
    </div>
    <div class="workers-header__right">
        <div class="workers-header__lang">
            <div class="workers-header__lang-current">
                <img src="../../images/icons/de.svg" alt="">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z"
                          fill="#25222C" />
                </svg>
            </div>
            <div class="workers-header__lang-list">
                <a href="javascript:void(0)">
                    <img src="../../images/icons/ua.svg" alt="">
                </a>
                <a href="javascript:void(0)">
                    <img src="../../images/icons/en.svg" alt="">
                </a>
                <a href="javascript:void(0)">
                    <img src="../../images/icons/ru.svg" alt="">
                </a>
            </div>
        </div>
        <div class="workers-header__login">
            <a href="javascript:void(0)">Войти</a>
        </div>
        <div class="workers-mobile-menu__btn">
            <span></span>
        </div>
    </div>
  </div>
</header>
